[phases.setup]
nixPkgs = ["php82", "php82Packages.composer", "nodejs_20"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader --no-interaction"
]

[phases.build]
cmds = [
  "npm install",
  "npm run build"
]

[start]
cmd = "php artisan config:clear && php artisan migrate --force && php artisan db:seed --class=TestAdminSeeder --force && php artisan storage:link && php artisan config:cache && php artisan serve --host=0.0.0.0 --port=$PORT"
